/* ThriftStore/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define global styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light mode defaults */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #213547;
    --button-background: #f9f9f9;
    --button-text: #111;
    --button-hover-border: #646cff;
    --button-hover-background: #e0e0e0;
    --link-color: #646cff;
    --link-hover-color: #535bf2;
  }
}

/* Dark mode defaults */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --button-background: #1a1a1a;
    --button-text: #fff;
    --button-hover-border: #646cff;
    --button-hover-background: #333;
    --link-color: #646cff;
    --link-hover-color: #535bf2;
  }
}

/* Global styles */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  color: var(--button-text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: var(--button-hover-border);
  background-color: var(--button-hover-background);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
